header{
    background-color: rgb(73, 73, 73);
    height: 50px;
    padding: 10px 0 0 40px;
    color: white;
}

nav{
    display: flex;
    width: 300px;
    margin: auto;
}

a{
    display: block;
    width: 100px;
    height: 30px;
    font-size: 25px;
    background-color: rgb(48, 68, 107);
    border: 1px gray solid;
    margin: 5px;
    text-align: center;
    color: white;
    text-decoration: none;
}
a:hover{
    background-color: peru;
}